@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
     --card-d:#121212;
    --primary-d : #000000;
    --highlight-d:#1459F5;
    --text-d:#FFFFFF;
    --textfield-d:#747474;
    --sidebar-d:#292929;
    --max-d:#359C24;
    --min-d:#DF1919;
    --avg-d:#E28313;

    --primary-l:#FFFFFF;
    --highlight-l:#1459F5;
    --text-l:#000000;
    --textfield-l:#D9D9D9;
    --sidebar-l:#CFCDCD;
    --man-l:#1BC200;
    --min-l:#FF0000;
    --avg-l:#FF8A00;

    --tablets:900px;
    --phones:500px

}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: var(--primary-d);
    width: 5px;
    height: 0rem;

}

::-webkit-scrollbar-thumb {
    background-color: var(--highlight-d);
}
