.TMS__container{
    
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    
    
    
}

@media only screen and (max-width: 900px) {
    .TMS__container {
        gap: 5rem;
       

    }
}

@media only screen and (max-width: 500px) {
    .TMS__container {
      flex-direction: column;
      gap: 0rem;
height: 80%;
      justify-content: space-evenly;

    }
}